* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  display: block;
  box-sizing: border-box;
  font: 400 16px $sans;
  color: #222;
  background-color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
a {
  color: #222;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
nav a {
  padding: 1rem;
}
h1, h2, h3, h4 {
  font-family: $serif;
}