@mixin retina {
  @media screen and (min-width: 1600px) {@content;}
}
@mixin desk {
  @media screen and (min-width: 1200px) {@content;}
}
@mixin tablet {
  @media screen and (min-width: 760px) {@content;}
}
@mixin small {
  @media screen and (max-width: 320px) {@content;}
}
@mixin ie11 {
  @media all and (-ms-high-contrast:none) {@content;}
}